{% extends "layout.html" %}
{% load humanize %}
{% block title %} Allproduct {% endblock %}
{% block content %}
<section class="content2 cid-tsEQSCqggh" id="content2-2">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>All Products</strong>
            </h4>
        </div>
        <div class="row mt-4">
            <!-- ข้อมูลสินค้า 1 -->
            {% for pro_list  in all_pro  %}
            <div class="item features-image сol-12 col-md-6 col-lg-4" >
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="{% url 'productdetails' pro_list.id %}">
                            <img src="{{pro_list.img.url}}">
                        </a>
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7 text-center">
                            <strong>Product Name : {{pro_list.name}}</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7  text-center">Price: {{pro_list.price | intcomma }} LAK</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2 text-center">
                        {% if pro_list.stock <= 0 %}
                        <h5 class="text-secondary text-center">ສິນຄ້າໝົດແລ້ວ</h5>
                        {% else %}
                        <a href="cart.html" class="btn btn-primary display-4">
                            <i class="bi bi-cart3"></i></i>&nbsp;
                            Buy
                        </a>
                        {% endif %}
                      
                    </div>
                </div>
            </div> 
            {% endfor %}
           
            
        </div>
        <nav aria-label="product-pagination" class="media-container-row">
            <ul class="pagination pagination-lg">
                {% for num in all_pro.paginator.page_range  %}
            {% if num == all_pro.number  %}
            <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
{% endblock  %} 